
.sideBarElement {
  display: grid;
  grid-template: 1fr /1fr 1.5fr;
}

.filter button {
  color: #90a1ac;
  border: none;
  width: 6.25rem;
}
.filter p:first-child button{
  background-color: #414D55;
}

.filterText {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.43rem;
}

.dottedLine {
  display: flex;
  align-items: center;
}

.dottedLine:after {
  content: "";
  flex: 1;
  border-bottom: 2px dashed#31363b;
}

.dottedLine:after {
  margin-left: 0.25em;
}

.bodyContent {
  height: 50vh;
  overflow-x: scroll;
  display: flex;
  flex-wrap: wrap;
}

.bodyContent > div {
  width: 37.2vw;
  height: 10.75rem;
  margin-left: 1.25rem;
  margin-top: 0.96875rem;

  border-radius: 0.6rem;
}

.bodyContent > div > div:first-child {
  margin: 1.2rem;
  display: flex;
  justify-content: space-between;
}

.bodyContent > div > div:first-child {
  color: #4472c4;
}

.bodyContentBollCard {
  display: flex;
}

.bodyContentBollCard > div:first-child {
  background: #bd1b24;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 2rem;
  margin-right: 0.6rem;
}

.bodyContentBollCard > div:last-child {
  background: #ffc700;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 2rem;
}

.bodyContent > div > div:nth-child(2) {
  content: "";
  flex: 1;
  border-bottom: 2px dashed#000;
  margin: 0 1.2rem;
}

.bodyContent > div > div:nth-child(3) {
  margin: 1.2rem;
}

.bodyContent > div > div:nth-child(3) p:last-child {
  opacity: 50%;
}

.bodyFooter {
  position: absolute;
  bottom: 0;
  right: 0;
}

.footerBox {
  background-color: #68a35d;
  height: 1.87rem;
  width: 1.87rem;
  border-radius: 0.3rem;
  margin-bottom: 0.3125rem;
  margin-right: 0.75rem;

  text-align: center;
}

.footerBox > span {
  font-size: 0.67rem;
}